@page
@model ShopFinder.Pages.RequestsPages.CreateModel

@{
    ViewData["Title"] = "Create ";
}

<h2 class="text-primary">Send Request</h2>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCx-VRag4yn9f9czgmzHr-8M9Lo_l_zbvQ"
        type="text/javascript"></script>
<script>
    var currentPosition;
    function getLocation() {
        navigator.geolocation.getCurrentPosition(function (position) {
            currentPosition = position.coords.latitude + "," + position.coords.longitude;
        }
    };

</script>


<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h6> @ViewData["shop_name"] </h6>
            <h6> @ViewData["shop_address"]</h6>
            <br />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Requests.MobileNo" class="control-label">Mobile No</label>
                <input asp-for="User.MobileNo" class="form-control" />
                <span asp-validation-for="Requests.MobileNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Requests.BuyingItems" class="control-label">Buying Items</label>
                <textarea asp-for="Requests.BuyingItems" class="form-control" rows="5" cols="40"></textarea>
                <span asp-validation-for="Requests.BuyingItems" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Requests.DeliverAddress" class="control-label">Delivery Address</label>
                <textarea asp-for="Requests.DeliverAddress" class="form-control" rows="5" cols="40">@ViewData["address"]</textarea>
                <span asp-validation-for="Requests.DeliverAddress" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Requests.IsCreditCardRequiredOnDlivery" />Credit Card Required On Dlivery
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" class="btn btn-primary" >Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}