@page
@model ShopFinder.Pages.RequestsPages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Requests</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Requests.ID" />
            <div class="form-group">
                <label asp-for="Requests.CustomerID" class="control-label"></label>
                <input asp-for="Requests.CustomerID" class="form-control" />
                <span asp-validation-for="Requests.CustomerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Requests.ShopID" class="control-label"></label>
                <input asp-for="Requests.ShopID" class="form-control" />
                <span asp-validation-for="Requests.ShopID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Requests.BuyingItems" class="control-label"></label>
                <input asp-for="Requests.BuyingItems" class="form-control" />
                <span asp-validation-for="Requests.BuyingItems" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Requests.IsCreditCardRequiredOnDlivery" /> @Html.DisplayNameFor(model => model.Requests.IsCreditCardRequiredOnDlivery)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Requests.GPSLocation" class="control-label"></label>
                <input asp-for="Requests.GPSLocation" class="form-control" />
                <span asp-validation-for="Requests.GPSLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Requests.RequestSendOn" class="control-label"></label>
                <input asp-for="Requests.RequestSendOn" class="form-control" />
                <span asp-validation-for="Requests.RequestSendOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Requests.RequestAcceptedOn" class="control-label"></label>
                <input asp-for="Requests.RequestAcceptedOn" class="form-control" />
                <span asp-validation-for="Requests.RequestAcceptedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Requests.RequestStatus" class="control-label"></label>
                <input asp-for="Requests.RequestStatus" class="form-control" />
                <span asp-validation-for="Requests.RequestStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Requests.Updated" class="control-label"></label>
                <input asp-for="Requests.Updated" class="form-control" />
                <span asp-validation-for="Requests.Updated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
