@page
@model ShopFinder.Pages.ShopPages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Shop</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Shop.ID" />
            <div class="form-group">
                <label asp-for="Shop.UserID" class="control-label"></label>
                <input asp-for="Shop.UserID" class="form-control" />
                <span asp-validation-for="Shop.UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shop.ShopName" class="control-label"></label>
                <input asp-for="Shop.ShopName" class="form-control" />
                <span asp-validation-for="Shop.ShopName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shop.ShopCatagoryID" class="control-label"></label>
                <select asp-for="Shop.ShopCatagoryID" class="form-control" asp-items="ViewBag.ShopCatagoryID"></select>
                <span asp-validation-for="Shop.ShopCatagoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shop.Password" class="control-label"></label>
                <input asp-for="Shop.Password" class="form-control" />
                <span asp-validation-for="Shop.Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Shop.IsOpen" /> @Html.DisplayNameFor(model => model.Shop.IsOpen)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Shop.ConatctPerson" class="control-label"></label>
                <input asp-for="Shop.ConatctPerson" class="form-control" />
                <span asp-validation-for="Shop.ConatctPerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shop.Address" class="control-label"></label>
                <input asp-for="Shop.Address" class="form-control" />
                <span asp-validation-for="Shop.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shop.Address2" class="control-label"></label>
                <input asp-for="Shop.Address2" class="form-control" />
                <span asp-validation-for="Shop.Address2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shop.CityID" class="control-label"></label>
                <select asp-for="Shop.CityID" class="form-control" asp-items="ViewBag.CityID"></select>
                <span asp-validation-for="Shop.CityID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shop.GPSLocation" class="control-label"></label>
                <input asp-for="Shop.GPSLocation" class="form-control" />
                <span asp-validation-for="Shop.GPSLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shop.Email" class="control-label"></label>
                <input asp-for="Shop.Email" class="form-control" />
                <span asp-validation-for="Shop.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shop.ContactNo1" class="control-label"></label>
                <input asp-for="Shop.ContactNo1" class="form-control" />
                <span asp-validation-for="Shop.ContactNo1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shop.ContactNo2" class="control-label"></label>
                <input asp-for="Shop.ContactNo2" class="form-control" />
                <span asp-validation-for="Shop.ContactNo2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shop.ContactNo3" class="control-label"></label>
                <input asp-for="Shop.ContactNo3" class="form-control" />
                <span asp-validation-for="Shop.ContactNo3" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Shop.IsDiliveryAvilabel" /> @Html.DisplayNameFor(model => model.Shop.IsDiliveryAvilabel)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Shop.IsCreditCardAccept" /> @Html.DisplayNameFor(model => model.Shop.IsCreditCardAccept)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Shop.IsCreditCardAcceptOnDeliveryLocation" /> @Html.DisplayNameFor(model => model.Shop.IsCreditCardAcceptOnDeliveryLocation)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Shop.OpenTime" class="control-label"></label>
                <input asp-for="Shop.OpenTime" class="form-control" />
                <span asp-validation-for="Shop.OpenTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shop.ClosedTime" class="control-label"></label>
                <input asp-for="Shop.ClosedTime" class="form-control" />
                <span asp-validation-for="Shop.ClosedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shop.Updated" class="control-label"></label>
                <input asp-for="Shop.Updated" class="form-control" />
                <span asp-validation-for="Shop.Updated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
