@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
.responsive {
  width: 100%;
  height: auto;
}
</style>
<div class="text-center">
    <h1 class="display-4"><b>Welcome To Shop Finder</b></h1>
    <br />
    <br />
    <br />
    <div>
        <a asp-page="./Login">
            <img src="~/images/Capture.PNG"  class="img-fluid" />
        </a>
    </div>
    <br />
    <br />
    <br />
    <a asp-page="./Login" class="btn btn-primary" value="Buyer">Join As Buyer</a>
    <a asp-page="./Login" class="btn btn-primary" value="Seller">Join As Seller</a>
            @*<div>
                <a asp-page="./Login">Seller</a>
            </div>*@
</div>