@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <div class="form-group">
            <input type="submit" value="Find Shop" class="btn btn-primary" />
        </div>
        <div class="form-group">
            <input type="submit" value="Add Shop" class="btn btn-primary" />
        </div>
        <div>
            <a asp-page="./Index"></a>
        </div>
        <div>
            <a asp-page="./Login">Find Shop</a>
        </div>
        <div>
            <a asp-page="./Login">Add Shop</a>
        </div>
    </div>