@page
@model ShopFinder.Pages.Login
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
@Model.Msg
<form method="post" asp-page="Login">
    <table>
        <tr>
            <td>MobileNo</td>
            <td><input type="text" asp-for="@Model.MobileNo" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" asp-for="@Model.Password" /></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="Login" /></td>
        </tr>
    </table>
    <p>
        <a asp-page="/UserPages/Create">Create New</a>
    </p>
</form>