@page
@model ShopFinder.Pages.MessagePages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RequestMessage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RequestMessage.RequestsID" class="control-label"></label>
                <input asp-for="Request.ID" class="form-control"/>
                <span asp-validation-for="RequestMessage.RequestsID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Request.MobileNo" class="control-label"></label>
                <input asp-for="Request.MobileNo" class="form-control" />
                <span asp-validation-for="Request.MobileNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Name" class="control-label"></label>
                <input asp-for="User.Name" class="form-control" />
                <span asp-validation-for="User.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestMessage.Messsage" class="control-label"></label>
                <textarea asp-for="RequestMessage.Messsage" class="form-control" rows="5" cols="40"></textarea>
                <span asp-validation-for="RequestMessage.Messsage" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
